html{
  position: relative;
  min-height: 100%;
}
body{
}
.login{
  background-color: white;
  height: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 100px;
}
.botoon{
margin-bottom: 5px;
}
.foto{
background-color: #BDBDBD
}
.position{
  position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 5px;
}
